.PortfolioSection {
  width: 75%;
  margin: 0 auto;
  padding: 0 1em;
  
  .flex {
    height: 100%;
    min-height: 300px;
    display: flex;
    background-color: #a35c3c;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    margin: 0;
  }

  h3 {
    color:#7A979A;
    font-size: 1.6em;
  }

  p {
    color: white;
  }
  
  button {
    color: white;
    background-color: #a35c3c;
    font-size: 24px;
    border: none;
    height: 40px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 415px) {
  .PortfolioSection {
    width: 90vw;

    .flex {
      height: 100%;
      padding: 0.5em;
    }

  
}
}