.PortfolioItem {
  background-color: #a35c3c;
  width: 60vw;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 35vw;
    border-radius: 8px;
    
  }

  .text {
    width: 20vw;
    font-size: 18px;
  }

  a {
    text-transform: uppercase;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 650px) {
  .PortfolioItem {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;

    img {
      width: 50vw;
    }

    .text {
      width: 100%;
    }
  }
  
}

@media only screen and (max-width: 415px) {
  .PortfolioItem {
    width: 90vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;

    img {
      width: 50vw;
    }

    .text {
      width: 100%;
    }
  }
  
}