.TechStack {
  color: white;
  padding: 3.5em;
  width: 75%;
  margin: 0 auto;
  
  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h3 {
    font-size: 2em;
    color: #7A979A;
  }

  li {
    list-style: none;
    color: darkslategray;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 415px) {
  .TechStack {
    padding: 1.5em;
    width: 80%;
    margin: 0 auto;
    
    .flex {
      justify-content: space-between;
      div {
        margin-right: 15px;
        width: 35vw
      }
    }

    h3 {
      font-size: 1.5em;
    }
  }
  
}